Package: moe.panties.discordextras
Name: DiscordExtras
Version: 1.4.2
Architecture: iphoneos-arm
Description: Add extra features to Discord via patches!
Maintainer: Zoey
Author: Zoey
Section: Tweaks
SileoDepiction: https://repo.panties.moe/depictions/discordextras
Depends: mobilesubstrate (>= 0.9.5000)
Icon: file:///Library/Application%20Support/DiscordExtrasFiles.bundle/Icon.png
